body {
    font-family: "Segoe UI", sans-serif;
    background: #f4f6f8;
}

.container {
    width: 80%;
    margin: 40px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
}

h2 {
    margin-bottom: 20px;
}

.form-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 15px;
}

.form-box input,
.form-box select {
    padding: 10px;
}

.form-box button {
    grid-column: span 4;
    padding: 10px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#msg {
    grid-column: span 4;
    color: green;
    font-size: 14px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

button.edit {
    background: #facc15;
    border: none;
    padding: 5px 8px;
    margin-right: 5px;
}

button.delete {
    background: #ef4444;
    border: none;
    padding: 5px 8px;
    color: white;
}
